body{
  padding: 10px;
  background-color: antiquewhite;
}

h1{
  text-align: center;

}
h1:hover{
  color: brown;
  font-family: Arial;
}

.myself{
  padding-top: 60px;
  font-size: 25px;
  font-family: "Bell MT";
  text-align: center;
}